.seccion {
    margin-top: $separacion / 2;
    margin-bottom: $separacion / 2;
}
.contenido-centrado {
    max-width: 800px;
}
.text-center{
    text-align: center;
}
.margin-top{
    margin: 3rem 0 0 0;
}